&_img {
    border: none;
    background-image: url("../img/completed.svg");
    background-position: 50% 50%;
    background-size: 110%;
    background-repeat: no-repeat;

    background-color: transparent;
}