//  Colors
$darkShadeBlack: #1F2041;
$darkShadeGray: rgba(31, 32, 65, 0.75);
$darkShadeHalf: rgba(31, 32, 65, 0.5);
$darkShadeFourth: rgba(31, 32, 65, 0.25);
$darkShadeLight: rgba(31, 32, 65, 0.05);

$white: white;

$purple: #BC9CFF;
$green: #6FCF97;

// Fonts
$raleway: "Raleway", sans-serif;
$lobster: "Lobster", sans-serif;

// Font-size
$bigTitle: 30px;
$middleTitle: 19px;
$smallTitle: 12px;
$body: 14px; 

$bigTitleLineHeight: 45px;
$middleTitleLineHeight: 24px;
$smallTitleLineHeight: 15px;